.btn {
  background-color: #4cafaf; 
  color: white; 
  padding: 12px 24px; 
  font-size: 16px; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.btn:hover {
  background-color: #479c9c; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.btn:active {
  background-color: #367575; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transform: translateY(2px); 
}

.btn-app {
  background: #000;
}
